body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f5;
}

.page-content {
  background-color: white;  
  padding-top: 80px; 
  min-height: 100vh; 
  padding-left: 2rem; 
  padding-right: 2rem; 
  box-sizing: border-box;
}